@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media screen {
    #printSection {
        display: none;
    }
  } */
@media print {

    .btn{
        display:none;
    }

    .qr{
        display:block!important;
    }
}

.form-control{
    border-radius: .25rem!important;
    border: 1px solid #ced4da;
}

.qr{
    display:none;
}
.container-fluid{
    width: 95%;
}

.card{
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
    border-color: white!important;
    border-radius: 15px!important;

    .card-footer{
        background: #FFF;
        border-radius: 0 15px 15px !important;
    }
}

.content-wrapper {
    background-color: #f4f9f7!important;
}

body{
    font-family: "Nunito",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
}

.card-title{
    font-size: 1.8rem;
}


.nav-sidebar>.nav-item {
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Active nav pill */
.sidebar-light-info .nav-sidebar>.nav-item>.nav-link.active {
    color: #fff!important;
    background: rgb(22,158,102);
    background: linear-gradient(60deg, rgba(22,158,102,1) 30%, rgba(36,193,221,1) 100%);

}

.sidebar-mdk{
    box-shadow: 0 2px 6px rgba(4, 47, 41, 0.20), 0 0 transparent, 0 0 transparent;
}

.brand-text {
    font-weight: 600!important;
    color: #555;
}

[class*=sidebar-light-] .sidebar a {
    /* font-weight: 400; */
    color: #404040;
}

/* CSS DESIGN STYLE */

/*Buttons*/
.mdkbtn-outline{
    color: #000;
    background-color:none;
    border: none;
    
    &:hover {
        transform: scale(1.1);
    }

    &:disabled{
        color: #9EA2B3;
    }
}

.mdkbtn-success{
    color: #FFF;
    background-color:#28B486;
    border-radius: 10px;
    border: none;
    
    &:hover {
        /*background-image: linear-gradient(rgba(42, 42, 42, 0.52) 0 0);*/
        background-color:#206152;
        color: #FFF;
    }

    &:disabled{
        background-color:#EDEEF2;
        color: #9EA2B3;
    }
}

.mdkbtn-primary{
    color: #FFF;
    background-color:#2673B5;
    border-radius: 10px;
    border: none;
    
    &:hover {
        background-color:#0A3051;
        color: #FFF;
    }

    &:disabled{
        background-color:#EDEEF2;
        color: #9EA2B3;
    }
}

.mdkbtn-info{
    color: #FFF;
    background-color:#5C63FF;
    border-radius: 10px;
    border: none;
    
    &:hover {
        background-color:#282DA4;
        color: #FFF;
    }

    &:disabled{
        background-color:#EDEEF2;
        color: #9EA2B3;
    }
}

.mdkbtn-faded{
    color: #000;
    background-color:#F7F7F7;
    border-radius: 10px;
    border: none;
    
    &:hover {
        background-color:#DBD4D4;
        color: #000;
    }

    &:disabled{
        background-color:#EDEEF2;
        color: #9EA2B3;
    }
}

.mdkbtn-danger{
    color: #FFF;
    background-color:#BE4B67;
    border-radius: 10px;
    border: none;
    
    &:hover {
        background-color:#631F1E;
        color: #FFF;
    }

    &:disabled{
        background-color:#EDEEF2;
        color: #9EA2B3;
    }
}

.mdkbtn-warning{
    color: #FFF;
    background-color:#E8A340;
    border-radius: 10px;
    border: none;
    
    &:hover {
        background-color:#BD740C;
        color: #FFF;
    }

    &:disabled{
        background-color:#EDEEF2;
        color: #9EA2B3;
    }
}

.mdkbtn-inverse{
    color: #FFF;
    background-color:#292B2C;
    border-radius: 10px;
    border: none;
    
    &:hover{
        background-color:#5E5E5E;
        color: #FFF;
    }

    &:disabled{
        background-color:#EDEEF2;
        color: #9EA2B3;
    }
}

/*Cards*/
.cardmdk-display {
    position: relative;
    display: none;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:#F9F4F4;
    border: 2px solid #C7CDE1;
    border-radius: .5rem;
    box-shadow: none;
    align-content: flex-start;
}

.card-flow {
    height: 100%;
}

/*Flow Cards*/
.mdkFlowCard{
    background-color: #f0fcfa;
    border-color: #5CD5B9 !important;
    border-width: 3px;
}

.mdkFlowInactive{
    filter: grayscale(100%);
}

#businessPicture {
    height: 115px;
    width: 115px;
    background-color: #EEEEEE;
    border-radius: 10px;
}

.mdkTextArea{
    background-color: #FAFAFA;
    border-color: #E0E0E0;
    border-width: 0.5px;
    padding: 0.5rem 0.8rem;
    resize: none;
}

.mdkBigTextArea{
    height: 12rem !important;
    width: 27.5rem !important;
}

/*Text*/
.fs-6{
    font-size: 0.9rem;
}

.fs-7{
    font-size: 0.8rem;
}

.nav-tabs .nav-item .nav-link {
    color: #686868;
}

.nav-tabs .nav-item .nav-link.active {
    color: black;
    border: none !important;
    border-bottom: 3px solid black !important;
}

.nav-tabs {
    border-bottom: 2px solid #C7CDE1;
}

.mdkTabCard {
    box-shadow: none;
    border: 2px solid !important;
    border-color: #C7CDE1 !important;
    border-top: none !important;
    border-radius: 0 0 .5rem .5rem !important;
}

.wss-bg {
    background-image: url('../images/wss-bg.png');
    background-size: auto cover;
    background-repeat: repeat;
    background-attachment: fixed;
    border-radius: .5rem;
    height: 83%;
}


.bg-strongblue {
    background-color: #166ECD;
}

.bg-cancel {
    color: #951111;
}

.bg-primaryquestion {
    color: #3497F9
}

/*Recomendación de usar en escritorio*/
.mdkmodal {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
    .mdkmodal {
        display: block !important; /* Muestra el modal en dispositivos móviles */
    }
}

/* DEPRECATED  
.mdkStandardCard{
    border-color: #C7CDE1;
    background: #FFF;
    border-width: 2px;
    border-radius: 12px;

    .card-footer{
        background: #FFF;
        border-radius: 0 20px 20px !important;
    }
}

*/