@tailwind base;
@tailwind components;
@tailwind utilities;

.container-fluid{
    width: 95%;
}

.field-icon {
    float: right;
    margin: -1.8rem 0.4rem;
    position: relative;
    z-index: 2;
    color: #8D8D8D;
    cursor: pointer;
}

.calendar-icon {
    float: right;
    margin: -1.65rem 0.95rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.content-wrapper {
    background-color: #f4f9f7!important;
}

body{
    font-family: "Nunito",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
}

/* Active nav pill */
.sidebar-light-info .nav-sidebar>.nav-item>.nav-link.active {
    color: #fff!important;
    background: #108e77;
}

.nav-sidebar>.nav-item {
    margin-top: 4px;
    margin-bottom: 4px;
}

.mdk-sidebar{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 0 transparent, 0 0 transparent;
}

.mdk-brand {
    margin-left: 3.8rem;
    margin-top: -2.2rem;
    max-height: 50px;
    width: auto;
}

[class*=sidebar-light-] .sidebar a {
    color: #2B2B2B;
}

/* CSS DESIGN STYLE */

/*Business*/
#businessPicture {
    height: 115px;
    width: 115px;
    background-color: #EEEEEE;
    border-radius: 10px;
}

/*Buttons and colors*/
.bg-cancel {
    color: #951111;
}

.bg-primaryquestion {
    color: #3497F9
}

.mdkbtn-outline{
    color: #000;
    background-color:none;
    border: none;
    
    &:hover {
        transform: scale(1.1);
    }

    &:disabled{
        color: #9EA2B3;
    }
}

.mdkbtn-success{
    color: #FFF;
    background-color:#28B486;
    border-radius: 10px;
    border: none;
    
    &:hover {
        background-color:#206152;
        color: #FFF;
    }

    &:disabled{
        background-color:#EDEEF2;
        color: #9EA2B3;
    }
}

.mdkbtn-primary{
    color: #FFF;
    background-color:#2673B5;
    border-radius: 10px;
    border: none;
    
    &:hover {
        background-color:#0A3051;
        color: #FFF;
    }

    &:disabled{
        background-color:#EDEEF2;
        color: #9EA2B3;
    }
}

.mdkbtn-info{
    color: #FFF;
    background-color:#5C63FF;
    border-radius: 10px;
    border: none;
    
    &:hover {
        background-color:#282DA4;
        color: #FFF;
    }

    &:disabled{
        background-color:#EDEEF2;
        color: #9EA2B3;
    }
}

.mdkbtn-faded{
    color: #000;
    background-color:#F7F7F7;
    border-radius: 10px;
    border: none;
    
    &:hover {
        background-color:#DBD4D4;
        color: #000;
    }

    &:disabled{
        background-color:#EDEEF2;
        color: #9EA2B3;
    }
}

.navbar-nav.ml-auto>.nav-item>.nav-link{
    color: #FFF;
    background-color:#BE4B67;
    border: none;
    display: inline;
    padding: 5px 10px;
    border-radius: 0.8rem;
    
    &:hover {
        background-color:#631F1E;
        color: #FFF;
    }
}

.fa.fa-fw.fa-power-off{
    color: #FFF !important;
}

.mdkbtn-danger{
    color: #FFF;
    background-color:#BE4B67;
    border-radius: 10px;
    border: none;
    
    &:hover {
        background-color:#631F1E;
        color: #FFF;
    }

    &:disabled{
        background-color:#EDEEF2;
        color: #9EA2B3;
    }
}

.mdkbtn-warning{
    color: #FFF;
    background-color:#E8A340;
    border-radius: 10px;
    border: none;
    
    &:hover {
        background-color:#BD740C;
        color: #FFF;
    }

    &:disabled{
        background-color:#EDEEF2;
        color: #9EA2B3;
    }
}

.mdkbtn-inverse{
    color: #FFF;
    background-color:#292B2C;
    border-radius: 10px;
    border: none;
    
    &:hover{
        background-color:#5E5E5E;
        color: #FFF;
    }

    &:disabled{
        background-color:#EDEEF2;
        color: #9EA2B3;
    }
}

/*Cards*/
.card{
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);
    border-color: white!important;
    border-radius: 15px!important;

    .card-footer{
        background: #FFF;
        border-radius: 0 15px 15px !important;
    }
}

.card-title{
    font-size: 1.8rem;
}

.cardmdk-display {
    position: relative;
    display: none;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:#F9F4F4;
    border: 2px solid #C7CDE1;
    border-radius: .5rem;
    box-shadow: none;
    align-content: flex-start;
}

.form-control{
    border-radius: .25rem!important;
    border: 1px solid #B2B2B2 !important;
    background-color: #FAFAFA !important;
}

.mdkTextArea{
    background-color: #FAFAFA;
    border-color: #E0E0E0;
    border-width: 0.5px;
    padding: 0.5rem 0.8rem;
    resize: none;
}

.mdkBigTextArea{
    height: 12rem !important;
    width: 27.5rem !important;
}

/*Flow Cards*/
.mdkFlowCard{
    background-color: #E2F7F1;
    border-color: #8ce1ce !important;
    border-width: 2px;
}

.mdkFlowInactive{
    filter: brightness(0.9) grayscale(100%);
}

.card-flow {
    height: 100%;
}

.nav-tabs .nav-item .nav-link {
    color: #686868;
}

.nav-tabs .nav-item .nav-link.active {
    color: black;
    border: none !important;
    border-bottom: 3px solid black !important;
}

.nav-tabs {
    border-bottom: 2px solid #C7CDE1;
}

.mdkTabCard {
    box-shadow: none;
    border: 2px solid !important;
    border-color: #C7CDE1 !important;
    border-top: none !important;
    border-radius: 0 0 .5rem .5rem !important;
}

.wss-bg {
    background-image: url('../images/wss-bg.png');
    background-size: auto cover;
    background-repeat: repeat;
    background-attachment: fixed;
    border-radius: .5rem;
    height: 85%;
}

.bg-business-image {
    background-color: #206152;
}

/*Text*/
.fs-6{
    font-size: 0.9rem;
}

.fs-7{
    font-size: 0.8rem;
}

/*Rating*/
.rating {
    --dir: right;
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 3rem;
    --symbol: var(--star);
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
}

.rating::-moz-range-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
}

.rating::-webkit-slider-runnable-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}

.rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
}

.rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
}

/*Recomendación de usar en escritorio*/
.mdkmodal {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}

/*Imprimir QR*/
@media print {

    #header,
    #footer,
    #nav {
      display: none !important;
    }

    .btn{
        display:none;
    }

    .business-name{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .mdkTextArea{
        background: none;
        border: none;
        border-width: 0px;
        margin-left: 0.5rem;
    }

    .mdkBigTextArea {
        max-width: fit-content !important;
        height: fit-content !important;
    }

    .col-md-6 {
        max-width: fit-content;
    }

    #logo-medik{
        display: inline !important;
    }

    .qr{
        display: flex !important;
        max-width: 44%;
    }
}

/* DEPRECATED  
.mdkStandardCard{
    border-color: #C7CDE1;
    background: #FFF;
    border-width: 2px;
    border-radius: 12px;

    .card-footer{
        background: #FFF;
        border-radius: 0 20px 20px !important;
    }
}

*/